<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TaskManager.Properties.Settings.GestionTareasConnectionString"
            connectionString="Data Source=DESKTOP-8JUTKUP\SQLEXPRESS;Initial Catalog=GestionTareas;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>